/*---------------HEADER (INDEX & PORTFOLIO)----------------*/
/* --------------BOX---------------- */
.header {
         border-bottom: 1px solid #ececec;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1;
}


.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}



@media screen and (min-width: 480px) {
  .container {
    width: 480px;
}
}

@media screen and (min-width: 768px) {
.container {
    width: 768px;
}
}

.header-nav {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
.header-nav {
    min-height: 80px;
}
}


.navigation {
  min-height: 60px;
  display: flex;
  align-items: center;
}

.navigation__list {
  display: none;
  margin-left: 93px;
  & .navigation__item:not(:last-child) {
    margin-right: 50px;
  }
  & .navigation__link .header-contact {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
  }
}



@media (min-width: 768px) {
.navigation__list {
    display: flex;
}
}


.contacts {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  display: none;
  margin-left: auto;
  flex-direction: row;
}

@media (min-width: 768px) {
.contacts {
    display: flex;
    flex-direction: column;
}
}

// .contacts .contacts__item + .contacts__item {
//   margin-left: 50px;
// }

/* --------------BOX---------------- */

.navigation__logotip {
  text-decoration: none;
  font-family: var(--font-family2);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color1);
}

.navigation__logotip-two {
  color: #000000;
}

.navigation__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color2);
  padding: 32px 0;
  display: block;
  transition: color var(--transform-time);
  &:hover {
    color: var(--color1);
  }
  &:focus {
    color: var(--color1);
  }
}

.current {
  color: var(--color1);
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--color1);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 2px;
  }
}

.contacts__general {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color6);
  display: flex;
  transition: color var(--transform-time);
  &:hover {
    color: var(--color1);
  }

  &:focus {
    color: var(--color1);
  }
}

@media (min-width: 768px) {
.contacts__item:first-child {
    margin-bottom: 10px;
}
}


.contacts__envelope,
.contacts__smartphone {
  flex-direction: column;
  margin-right: 10px;
  fill: currentColor;
}
/*------------HEADER (INDEX & PORTFOLIO)-----------*/
/*------------MENU-MOB&TABLE-------*/
.menu-open {
  display: flex;
  margin-left: auto;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border: none;
  outline: none;
}

@media screen and (min-width: 768px) {
.menu-open {
    display: none;
}
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-right: 15px;
  padding-left: 15px;
  background-color: var(--color4);
  z-index: 10;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 25px;
}

.backdrop-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity var(--transform-time), visibility var(--transform-time);
}

.menu-close {
  display: block;
  margin-left: auto;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border: none;
  outline: none;
}

.mob-menu__list {
  flex-grow: 1;
}
.mob-menu__list :not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: var(--color2);
}
.mob-contacts {
  margin-bottom: 64px;
}
.mob-contacts__general :not(:last-child) {
  margin-bottom: 32px;
}
.mob-contacts__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--color1);
}
.mob-contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;

  color: var(--color6);
}
.mobile-socials {
  display: block;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  margin-bottom: 96px;
}
.mobile-socials__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--color1);
}

.mobile-socials__item:not(:last-child):after {
  content: '';
  display: block;
  position: absolute;
  right: -10px;
  bottom: 0;
  width: 1px;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.2);
}
